[2016-07-02 18:57] andrewscaya opened #1 "[Question] Error SMF"
Hello Doug,

I wrote to You last week about problem with attachment in simple mail form. If is possible please look at this problem.
http://autoimpr.webd.pl/strona1/index.php/form
Could not access file: /home/autoimpr/public_html/strona1/skuppojazdow/
I have two fields with attachments - when I try send one attachment I see this error when I send two all is OK.

Regards

Mateusz

[2016-07-04 23:54] andrewscaya commented on #1
New unit tests have been added to cover the logical possibilities that the patch's code has introduced into the module.  The current code coverage is around 30%.

Also, a latent bug was also discovered and fixed.

Finally, the code does not pass the PHP 5.3 tests (Joomla's minimum requirement is 5.3.10 and its recommended requirement is 5.6+).  We will have to remove 5.3 from the version matrix an

[2016-07-04 23:57] andrewscaya commented on #1
Blackbox testing the suggested patch.

[2016-07-07 01:28] martinbeaudry opened #2 "Confirmation message when uploading more than one file"
If the form allows the user to upload more than one file, the confirmation message saying that the file has been successfully uploaded is only displayed for the last file.

Confirmation message should be fine grained so that the user knows which files have been submitted and which have not.

[2016-07-07 02:00] andrewscaya commented on #2
Added to the 2.0 milestone as one of 'A few minor frontend enhancements'.

[2016-07-07 02:03] andrewscaya opened #3 "Make the module compliant to Joomla standards (https://joomla.github.io/coding-standards/)"

[2016-07-07 02:07] andrewscaya opened #4 "Make the module more compliant to PSR-2 standards"

[2016-07-07 02:08] andrewscaya opened #5 "Isolate initialization and library code from the module's main implementation"

[2016-07-07 02:09] andrewscaya opened #6 "Replace all direct usage of global variables by the appropriate Joomla objects"
- Replace all direct usage of $_SESSION by JSession.

[2016-07-07 02:09] andrewscaya opened #7 "Replace all hard-coded form elements by the JForm element objects"

[2016-07-07 02:11] andrewscaya opened #8 "Refactor language support in order to give the user the option of using the built-in Joomla language capabilities"

[2016-07-07 02:12] andrewscaya opened #9 "Get unit test code coverage up to at least 70%"

[2016-07-07 02:18] andrewscaya opened #10 "Use Git version control and phpDocumentor to generate the project's User Guide and Developer Documentation"

[2016-07-07 03:50] andrewscaya commented on #1
Release 1.8.8 is now frozen.  Release candidate under final review.

[2016-07-07 11:33] bplight commented on #1
Hello.Yesterday viewed this bug.
Is it possible to make in upload field settings Required/nonRequired selector?
Awaiting for improved release!
Thanks for your work!

[2016-07-08 01:22] andrewscaya opened #11 "Add a Required/Optional selector to the upload field settings"
Suggestion from [bplight](https://github.com/bplight)
[https://github.com/andrewscaya/mod_simpleemailform/issues/1#issuecomment-231053392](https://github.com/andrewscaya/mod_simpleemailform/issues/1#issuecomment-231053392)

[2016-07-08 01:23] andrewscaya commented on #1
Hello bplight,

Thanks for your suggestion.  We are including it in our roadmap for version 2.0.0.

Regards,

[2016-07-09 12:03] bplight commented on #1
One more suggestion.
Could you please add a prefix to the name of uploaded file?
It`s nessecary for me  that files were not overwritten.
Attached file is uploaded with the same name to thr folder.
The prefix may include year_month_date_time.
(I peeped it in chronoforms joomla extention)

[2016-07-10 04:15] andrewscaya commented on #1
Hello bplight,

We thank you for your suggestions and we might implement this last one in a future release.

Regards,

[2016-07-12 01:25] andrewscaya commented on #3
The Joomla Standards ruleset is incompatible with PHPCS 2.0+.  Adopting the PSR-2 Standard (#4).

[2016-07-12 01:25] #3 closed

[2016-07-12 05:19] andrewscaya commented on #1
Version 1.8.8 released.

[2016-07-12 05:19] #1 closed

[2016-07-12 05:53] andrewscaya commented on #4
Basic setup is done.

TODO:
- [Separation of concerns to be completed]
- [Check PEAR.php and PEAR5.php for PSR-2 compliance]
- [Re-establish certain CS rules]

[2016-07-13 09:10] bplight commented on #1
Thanks a lot!
When do you plan to put new release 1.8.8 on your page http://joomla.unlikelysource.org/ ?

[2016-07-13 14:51] andrewscaya commented on #1
Hello bplight,

We will make the new release available as soon as possible.  The delay is due to technical problems.

Thank you for your interest in the Simple Email Form Module.

Regards,

[2016-07-20 05:23] andrewscaya commented on #10
The User's Guide is now hosted on Read the Docs.

[2016-07-23 00:52] martinbeaudry opened #12 "File uploaded in spite of wrong captcha"
Version: 1.8.8a

Bugs with file upload and captcha features:

1) When a wrong captcha is entered, the file is still uploaded.
2) User only receives a success message saying that the files have been downloaded if the following two conditions are true:
    - The last file upload button is used (first ones have no effect);
    - The captcha is wrong.

If the captcha is right, no message is sent.

[2016-07-23 01:12] andrewscaya commented on #12
Bug Report
=========

Title:  File upload completes successfully despite a wrong captcha being submitted

Class: Bug

Date: 2016-07-22
Reported By: Martin

Product: Joomla, version: 3.5.1
Product: Simple Email Form, version: 1.8.8
Browser: All

Is it reproducible: Yes

Description
--------------
1) When a wrong captcha is entered, the file is still uploaded.
2) User only receives a success message

[2016-07-23 03:56] andrewscaya commented on #2
Whitebox testing the suggested patch.

[2016-07-23 03:56] andrewscaya commented on #12
Whitebox testing the suggested patch.

[2016-07-23 04:34] andrewscaya commented on #12
Blackbox testing the suggested patch.

[2016-07-23 04:34] andrewscaya commented on #2
Blackbox testing the suggested patch.

[2016-07-23 05:18] andrewscaya commented on #12
Release 1.8.9 is now frozen. Release candidate is under final review.

[2016-07-23 05:18] andrewscaya commented on #2
Release 1.8.9 is now frozen. Release candidate is under final review.

[2016-07-23 05:22] #4 closed

[2016-07-23 05:42] andrewscaya commented on #12
Version 1.8.9 released.

[2016-07-23 05:42] #12 closed

[2016-07-23 05:51] andrewscaya commented on #2
Version 1.8.9 released.

[2016-07-23 05:51] #2 closed

[2016-07-24 21:05] martinbeaudry opened #13 "Warn the administrator before saving if "Send Results To" field is empty or invalid"
If the administrator doesn't fill the "Send Results To" field, no warning is given, even though it will prevent the application from working.

When trying to send the form, one gets a "Requested page can't be found" error message asking to contact the administrator and give him the "Invalid address" error message.

[2016-07-26 03:25] andrewscaya commented on #9
Code coverage is now up to 56.07% on the develop branch.

[2016-12-25 06:27] andrewscaya commented on #5
Enhancement completed.

[2016-12-25 06:27] #5 closed

[2016-12-25 06:27] andrewscaya commented on #6
Enhancement completed.

[2016-12-25 06:27] #6 closed

[2016-12-25 06:28] andrewscaya commented on #7
Enhancement completed.

[2016-12-25 06:28] #7 closed

[2016-12-25 06:28] andrewscaya commented on #8
Enhancement completed.

[2016-12-25 06:28] #8 closed

[2016-12-28 03:15] andrewscaya commented on #13
Enhancement completed.

[2016-12-28 03:15] #13 closed

[2016-12-28 03:18] andrewscaya commented on #11
Enhancement completed.

[2016-12-28 03:18] #11 closed

[2017-01-13 22:17] andrewscaya opened #14 "Allow users to define custom field validation rules."
Users should be allowed to define custom validation rules for different types of fields (type="phone", for example).

[2017-01-23 09:04] alexandruboboc opened #15 "Allow users to configure an automated reply email to those submitting the form."
I'm using your module to allow my website visitors to upload their CV and contact details, and send those to the HR department.

However, I want to automatically reply those users, letting them know that their CV was successfully sent.

I'm thinking maybe a toggle (Auto reply On/Off) and a text field (for HTML content) could be added in the admin config. interface?

Thanks.

P.S. Great product, th

[2017-01-24 06:18] andrewscaya commented on #10
Closed with commit #7dc7867e966.

[2017-01-24 06:18] #10 closed

[2017-01-24 06:26] andrewscaya opened #16 "Language overrides do not work in SEF 1.8.9 and Joomla 3.6.5"
Hi Guys,

I like Simple Mail Form very much, mainly because it can be used in modules. Not everyone wants a mail for in content, and for many components solutions like Components Anywhere do not work!

Plus Simple mail form is ... eh, well, simple!

But I found one problem (Joomla and SMF both latest stable versions): the language overrides do not work.

For example: I created one for MOD_SIMPLEEM

[2017-01-30 15:51] martinbeaudry opened #17 "JForm translations not explained well enough in documentation"
The documentation needs to explain how users can change the form language using Joomla instead of the "Default Language" field.

[2017-01-30 21:58] andrewscaya commented on #17
Martin --

That's correct!  As previously discussed, the language settings are now integrated with Joomla's language settings by default.  In version 3.0.0, Simple Email Form's language setting will be removed along with the Classic mode.

Cheers!

Andrew

[2017-02-24 08:39] andrewscaya commented on #17
Enhancement completed.

[2017-02-24 08:39] #17 closed

[2017-03-20 18:54] thonal opened #18 "Getting error of missing closing DIV"
Hi,

When I tried to validate a website, it failed on the email form saying it was missing a closing div. After some digging I noticed that the missing closing div could be resolved by adding it to line 1587 of
"/modules/mod_simpleemailform/sefv2.modsimpleemailform.php" :

[code]
I don't know if this is a correct 'fix' or a hack to make it work? It does seem that it closes the div opened at line 1

[2017-03-21 02:54] andrewscaya commented on #18
Hello Thonal,

You are absolutely right!  The missing 'div' will be added immediately on the develop branch and will be part of the next release scheduled to be published in August 2017.

Many thanks!

Best regards,

Andrew

[2017-03-21 03:05] andrewscaya commented on #18
Bug fix completed - commit #bc977a9.

[2017-03-21 03:05] #18 closed

[2017-04-08 07:52] geriguy43 opened #19 "Fail to send emails in some cases"
At our webpage almost every page contains a contact form (always the same).

If the visitor opens one (or several) new tab(s) and tries to send email from the first (original) tab, Simple Email Form fails to send out the email. It only reloads the page. Visitors need to repush the send button (But nobody does because visitors thinks they have sent out the email.)

To replicate the error (just an e

[2017-04-08 14:59] andrewscaya commented on #19
@geriguy43 --

We will have a look into it even though SEF's classic mode is now deprecated.

Thanks for reporting the issue!

Best regards,

Andrew

[2017-04-08 15:00] andrewscaya commented on #19
@martinbeaudry  --

Can you have a look into this, please?  Maybe check if the CSRF tokens are correctly stored in the session and/or the instance identifiers are correctly set in the 'classic' mode of SEF.  Even though SEF's classic mode is now deprecated, maybe we can add one last bug fix (or two!)? ;-)

BTW, it is safe to fork from the 'develop' branch for this one.

Many thanks!

Andrew

[2017-04-08 19:47] andrewscaya commented on #19
Just created branch 2.1.0-dev for our future release in August.

@martinbeaudry: changes to the official documentation can now be committed.

[2017-04-08 19:49] andrewscaya commented on #19
@martinbeaudry: Branch 'issue19' has been deleted.

[2017-04-08 20:15] martinbeaudry commented on #19
@geriguy43 Thanks for reporting this issue.

I had a look at your website and made some tests. The problem seems to be that all of your forms have the same "Form Instance" (see the second field in simple email form's "Advanced" options). To have the form behave the right way, you can either:
- use the "Duplicate" Joomla feature to install multiple SEF modules, and give each one a different Form In

[2017-04-08 20:34] andrewscaya commented on #19
@martinbeaudry: Many thanks for your prompt response!  I will close this thread once you will have committed the changes to the documentation.  This modification will be included in release 2.1.0 of SEF (August 2017).

[2017-04-08 20:36] andrewscaya commented on #19
@geriguy43 --

You can have a look at the official documentation concerning 'Form Instances' here:
http://simple-email-form.readthedocs.io/en/stable/advanced_options.html#index-1

Also, thanks for being a long-term supporter of SEF!

Best regards,

Andrew

[2017-04-08 20:57] geriguy43 commented on #19
Thanks for the quick help.

It is a huge work to duplicate the modules because at our site ther are around 100-150 pages were there are this particular from. I need to duplicate it 150 times and add different numbers at advanced. (After that at articles, I need to change the module numbers step by step...)

For me JForm isn't working properly. The textbox became huge with the editor on the top and

[2017-04-08 21:07] geriguy43 commented on #19
Here is the test result of the received email made with JForm version (now you can't test, but if you are interested, I can switch this on of the Slovakian version of our site at bestmachinery.sk because that one is not a heavily visited website)

Article Title: Stroje na zemné práce
* Meno:: Gergo
* Telefonné číslo:: Nem
Spoločnosť:: nem
*Obec, Mesto:: nem
* Predmet oznámenia:: <p><span style="te

[2017-04-08 21:14] geriguy43 commented on #19
Well, github changed it, so here is the original:
`Article Title: Stroje na zemné práce
* Meno:: Gergo
* Telefonné číslo:: Nem
Spoločnosť:: nem
*Obec, Mesto:: nem
* Predmet oznámenia:: <p><span style="text-decoration: line-through;"><s
tárgy:: Best Machinery - SZLOVÁK érdeklődés`

[2017-04-08 22:04] andrewscaya commented on #19
@geriguy43 --

Since version 2.0.0 of SEF, the module is now fully integrated with the Joomla CMS. The JForm mode is very powerful as you now have full control over all elements of the SEF module.  To modify the TinyMCE editor's (JForm textarea) appearance, just go to "Extensions -> Plugin Manager -> Editor - TinyMCE -> Advanced settings" in your Joomla website's Administration panel and modify wi

[2017-04-08 22:14] andrewscaya commented on #19
Request completed.

[2017-04-08 22:14] #19 closed

[2017-04-08 22:25] andrewscaya commented on #19
@geriguy43 --

One last thing, concerning the length of the textarea section of your email, please make sure that you set the size of the field (ex. '50,50') in the SEF Admin panel as we filter the maximum allowed length of the contents of each field accordingly.  This is for security reasons as it prevents nasty things from happening like buffer overflows and remote code execution due to an uploa

[2017-04-09 05:50] geriguy43 commented on #19
Ok, I try it. Thank you! And the last question: why I receive the emails in plain text only?

This is the part of the header of the received mail:
X-Mailer: PHPMailer 5.2.16 (https://github.com/PHPMailer/PHPMailer)
MIME-Version: 1.0
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: 8bit

[2017-04-09 06:17] andrewscaya commented on #19
@geriguy43 --

For security reasons, we send the HTML out as a 'text/plain' document.  You can use the HTML as you see fit afterwards.  Otherwise, any email sent with our module could be considered as very insecure as it could allow a hacker to run code through your MUA.  If you wish to use it as HTML, you can extract the HTML and save it once you are sure the HTML is safe (change the MIME type ma

[2017-04-09 06:53] geriguy43 commented on #19
OK, thank you, I understand. But this way the TinyMCE is totally useless for the visitor.

[2017-04-09 07:26] andrewscaya commented on #19
@geriguy43 --

Well, no.  SEF sends the HTML in plaintext format and you decide what to do with it.  We might consider adding a setting in the admin panel eventually that will allow the website administrator (at his own risk) to set the email's content-type header to text/html for that part of the email.  But, for now, let's keep it, well, simple!

Best regards,

Andrew

[2017-04-09 18:45] geriguy43 commented on #19
Well, I could manage to set up correctly the JForm versions of the modules. Now the forms work flawlessly.
I am satisified with the design too: ( http://bestmachinery.hu/targoncak-es-raktartechnika for example)

But I found an other issue - I think it is a bug:

I am using a hidden subject field with a predefinied constant value at "default value of field X. (The text is shorter than the maximum a

[2017-04-12 15:56] andrewscaya commented on #19
@geriguy43 --

Can I ask you why you wish to make the subject field hidden since it would not stop a user from modifying its value and would bar the field from constraint validation (no client and/or server-side validation and filtering)?

Our intent is to abandon this 'classic' mode's feature and uphold the W3C Recommendations on this issue (see [here](https://www.w3.org/TR/html5/forms.html#hidde

[2017-04-12 17:45] dbierer commented on #19
Andrew --I added a feature "hidden" to the original Simple Email Form which functions as follows:--It allows a programmatically defined constant value to be passed as a parameter in the return email--This value will *always* be present, and is often used to identify form postings from different places on the website: i.e. a way of identifying the page from which the form posted in the case where m

[2017-04-12 19:39] andrewscaya commented on #19
@dbierer

Doug --

The "hidden" feature has not been modified as such in version 2.x.  But, it is true that, as of version 2.0.0, the "hidden" feature can no longer be applied to the 'From' and the 'Subject' fields (see [source](https://github.com/andrewscaya/mod_simpleemailform/blob/master/sefv2/modsimpleemailform.php#L1722)), as this allows these fields to be submitted to specific constraint val

[2017-06-05 18:23] geriguy43 opened #20 "Error with new JCE editor (2.6.14. and 2.6.15.)"
With the newest (updated) version of JCE editor, the textbox of Simple Email Forms are fails to load. I think it can be a relevant issue, because lots of users changed the TinyMCE editor to JCE.

You can check. Here the textbox renders good:
http://bestmachinery.hu/foldmunkagepek
(JCE editor 2.6.12)

Here it isn't:
http://bestmachinery.sk/stroje-na-zemne-prace
(JCE editor 2.6.15)

[2017-06-06 17:18] andrewscaya commented on #20
Geriguy43 --

We will definitely have a look into this before the next release scheduled to be published this summer.

Many thanks!

Best regards,

Andrew

[2017-12-04 05:07] Akela-SF opened #21 "The question of styling the module using mod_simpleemailform/tmpl/default.php"
Now the module works on the table styles.
But I would like to apply the Bootstrap-3/4 markup.
What data should I put into /tmpl/default.php to get the bootstrap markup?

[2017-12-04 15:21] andrewscaya commented on #21
@Akela-SF --

We urge you to upgrade to Simple Email Form (SEF), version 2.0, with the new 'JForm' setting, in order to use the built-in Joomla templates with Bootstrap. You would then customize the CSS classes that are used within the Joomla JForm elements as you would for any other HTML element contained in a Joomla template (https://docs.joomla.org/J3.x:Modifying_a_Joomla!_Template).

Hope this

[2017-12-04 17:46] Akela-SF commented on #21
Suddenly, a quick response! Thank you!

I'm using jumble-3.8.2 + mod_simplemailform-Version 2.0.1 with the "JForm" setting and it works fine.

But I can not change the markup
<table class = "mod_sef_table"> <tt class = "mod_sef_tr"> <td class = "mod_sef_td">
 to   <div class = "form-group">
because mod_simpleemailform/tmpl/default.pxp actually empty.
And to change the main code of the module to me

[2017-12-05 22:48] andrewscaya commented on #21
@martinbeaudry  --

Could you please have a look at this question? If we have an underlying bug, I'll include the bug fix in the next release (v 2.1) which should be out before the Holidays.

Many thanks for your time and efforts, my friend!

Andrew

[2017-12-06 15:12] martinbeaudry commented on #21
Yes, I'll have a look at it.

My pleasure!

[2017-12-07 18:49] martinbeaudry commented on #21
@Akela-SF - I think there are three possible solutions.

The simpler one would be to copy the Joomla template you're using (see
the link provided above by Andrew) and edit its CSS files:

1. In the main menu, click on Extensions >> Templates >> Styles
2. In the "Template" column, click the name of the template that renders
your form.
3. If you use a custom template, you can start editing it right

[2017-12-07 18:49] #21 closed

[2017-12-08 19:16] andrewscaya opened #22 "Allow to easily modify SEF's rendering by using its internal methods"
When overriding SEF's rendering, it should be possible to have read access to SEF's internal values in order to use PHP to render those values while still having the possibility to easily modify the form's markup. Also, customized rendering should be contained in a separate file in order to avoid deleting the custom code on each upgrade.

Linked to #21.

[2017-12-09 01:00] andrewscaya commented on #22
Done.

[2017-12-09 01:00] #22 closed

[2017-12-11 21:41] andrewscaya commented on #16
@martinbeaudry --

Can you please have a look at this issue? If this issue requires development on our part, please let me know as I will create a separate branch for it.

Many thanks!

-- Andrew

[2017-12-11 21:44] andrewscaya commented on #20
Issue is under active analysis.

[2017-12-11 22:08] martinbeaudry commented on #16
I'll look at it as soon as I can.

[2017-12-15 01:07] andrewscaya commented on #20
@geriguy43 --

As far as we can see, it seems that the JCE Editor doesn't register its editor with Joomla's JForm object. I've tried running the TinyMCE, CodeMirror and None editors on the most recent versions of Joomla and Simple Email Form (with the JForm Form Type, since the Classic Form Type is now deprecated), and they all work as expected. We can only suggest that you submit this issue to JC

[2017-12-15 01:11] #20 closed

[2017-12-15 17:55] geriguy43 commented on #20
Dear Andrew! Just to inform you, it was a bug at JCE editor, they solved it at version 2.6.17. Sorry about that I didn't tell it earlier. From that version, it works flawlessly.

Thanks again!

Best regards,

Gergely

[2017-12-15 19:43] andrewscaya commented on #20
@geriguy43 --

No problem. Glad to see everything is working now!

Thanks for using the Simple Email Form module!

Best regards,

Andrew

[2017-12-15 20:48] martinbeaudry commented on #16
Here's my report on this request. I'll wait for your decision before I start coding.

**Issue** – A user reports that Joomla's language overrides don't work in SEF.

**Language overrides** – This Joomla feature allows users to replace a default text with a custom one, either manually (by creating language files) or through the CMS' administration interface.

Using the admin interface, changes are

[2017-12-15 21:17] andrewscaya commented on #16
@martinbeaudry --

I agree with you and we will postpone implementing this feature until version 3.0.0.

Many thanks!

Yours,

Andrew

[2017-12-16 01:33] andrewscaya commented on #15
This enhancement will be included in the release next week.

[2017-12-16 01:33] #15 closed

[2017-12-16 02:12] andrewscaya opened #23 "Update the API documentation."
Update the API documentation.

[2017-12-16 02:13] andrewscaya opened #24 "Update the the end-user documentation."
Update the the end-user documentation.

[2017-12-16 02:21] andrewscaya commented on #24
@martinbeaudry --

I have declared "codefreeze" status for version 2.1.0. Branch "2.1.0-doc" has now been created. You may modify the end-user documentation at your convenience!

Many thanks!

Yours,

Andrew

[2017-12-16 15:47] martinbeaudry commented on #24
Good! I'll get back to you if I have any question.

Thanks to you!

[2017-12-16 21:39] andrewscaya commented on #23
Completed with commit 76a479404af.

[2017-12-16 21:39] #23 closed

[2017-12-18 17:15] andrewscaya commented on #21
@martinbeaudry --

Just pre-released beta4 with the fix for this issue.

Many thanks for bringing up the problem of the missing interface file!

Yours,

Andrew

[2017-12-23 03:39] andrewscaya commented on #24
Closed by commit 0253986b5e6.

[2017-12-23 03:39] #24 closed

[2018-01-18 06:52] interactive007 opened #25 "Maximum ram shooting to 128MB how to restrict to 20MB reasonable attachment size"
Simple email form shows often 128MB file size for upload (using attachment configuration in advanced tab of module) but there is no configuration of managing file size definition there, which causes user to avail full server memory size. It is not recommended to use maximum server resources for sending email attachments.

Please upgrade to specify minimum and maximum filesizes of file attachments.

[2018-01-25 10:11] becart opened #26 "My own variables in Sender email, Email Title and Message"
Hi,
I want to add my own variables (from other joomla component) in Sender email, Email Title and Message.
Can you tell me which file I need to modify?

[2018-01-27 04:58] andrewscaya commented on #26
Hi Becart --

You will find how to override rendering here : http://simple-email-form.readthedocs.io/en/stable/advanced_options.html#index-35.

Thanks for your interest in the Simple Email Form module!

Best regards,

Andrew

[2018-01-30 01:17] #26 closed

[2018-01-30 01:23] andrewscaya commented on #25
Hi @interactive007 --

Maximum upload file size is a PHP level configuration setting. You can adjust this directive in your php.ini file of your Web server to fit your needs.

Thank you for your interest in the Simple Email Form module.

Best regards,

Andrew Caya

[2018-01-30 01:23] #25 closed

[2018-01-30 16:21] bplight opened #27 "request for checkbox checked instruction"
Hello. Thank you very much for your extention mod_simpleemailform!
I wouв like to ask you to add information into Documentation (http://simple-email-form.readthedocs.io/en/stable/basic_options.html?highlight=checkbox) on how to set checkbox checked.
I foun in your code:
___________________
                foreach ($field['value'] as $key => $visible) {
                    $checked = (in_array($key

[2018-02-01 04:05] andrewscaya commented on #27
Hello @bplight --

You can easily accomplish this by overriding the rendering process. You will find how to override rendering here : http://simple-email-form.readthedocs.io/en/stable/advanced_options.html#index-35.

Then, you would just need to add a line near the end of your tmpl/default_custom.php file that would simply add the appropriate HTML attribute (checked = "checked") to your checkbox i

[2018-02-01 04:05] #27 closed

[2018-02-09 23:32] itkville opened #28 "SMTP Failing"
I have Joomla installed on a Windows server and I've setup my SMTP settings in Joomla Global Config using port 25 with authentication to my exchange 2010 mail server.  Send test email works just fine from Joomla itself, but when trying to submit email from the contact form it fails with SMTP Connect() failed.  What is your module doing for SMTP so that it isn't using the same settings as Joomla it

[2018-02-10 03:46] andrewscaya commented on #28
Hello @itkville --

Indeed, there are no SMTP settings in the module's configuration panel as we proxy all email related actions to JMail (Joomla Mailer). Thus, what works for Joomla, should work for Simple Email Form too.

Therefore, I am puzzled as to how you can send emails through Exchange from Joomla directly, but not from our module. Have you checked your logs? Have you tried debugging? Mayb

[2018-02-10 03:52] andrewscaya commented on #28
@itkville --

And, if any of the above mentioned suggestions work, please let us know.

[2018-02-13 20:23] andrewscaya commented on #28
Hi @itkville,

I have tested SEF with Exchange 2016 running on a Windows Datacenter 2016 server and everything is working as expected.

I submit the form using SEF v.2.1.0:
![sef_form_submitted](https://user-images.githubusercontent.com/15166159/36171728-c61e53ec-10d1-11e8-9fd5-aa8866cd4976.png)

And, I receive the email in my Exchange mailbox:
![exchange_email_reception](https://user-images.githu

[2018-02-13 20:34] andrewscaya commented on #28
@itkville --

I am closing this issue, but I will leave the conversation open in case you have further comments/questions.

Best regards,

Andrew

[2018-02-13 20:34] #28 closed

[2018-02-20 20:12] andrewscaya commented on #16
@martinbeaudry --

I will proceed to release version 2.2.0 of SEF this week. I will include this feature (#16) in the new release. Can you spare me some time in the next few days for tests and doc updates?

Many thanks!

Yours,

Andrew

[2018-02-20 20:37] martinbeaudry commented on #16
Yes, I'll fit this in my schedule for this week or next, depending on your needs.

My pleasure!

[2018-02-21 05:28] andrewscaya commented on #16
@martinbeaudry --

Branch '2.2.0-doc' is all yours! Please let me know when you are done.

Many thanks!

Andrew

[2018-02-21 14:10] martinbeaudry commented on #16
Good, I'll start working on it today.

[2018-02-23 09:23] andrewscaya commented on #16
Feature completed. Blackbox testing can begin on the '2.2.0-codefreeze' branch.

[2018-02-23 09:23] #16 closed

[2018-02-24 19:30] rwl10 opened #29 "Simple Form won't work within articles"
I'm trying to get a simple form to display within an article. I have used {loadposition position-2} where position-2 is the position selected in the module's position box. I've tried various other short codes to no avail. I do have the Content - Load Modules plugin enabled. I can get the Simple Form to display when added to a menu that displays an article, but not embedded within an article.

Than

[2018-02-28 20:12] m3vip opened #30 "From field not sending"
I have added it as a module in this web "http://www.wifiair.es/contacto", there are 4 fields. but i always get 3 of them, the first (Email From), its always the same "web.wifiair@gmail.com"

![image](https://user-images.githubusercontent.com/36934472/36810599-75f5d09c-1ccb-11e8-8436-5ecf7cd6705b.png)
This is my configuration done:

![image](https://user-images.githubusercontent.com/36934472/368106

[2018-03-03 19:37] mjb021 opened #31 "JForm recaptcha generates timeout-or-duplicate after successful send of form"
It may be my installation (Joomla 3.85, php7, mysqli 5.6.36) but after the last upgrade I noticed that after the form is sent successfully (and I do not redirect to another page), it reloads the from with empy fields but then shows the error: "timeout-or-duplicate" - Error: Unable to Submit Form.
This is of course very confusing for the end-user. I now manually filtered out that message so my end-

[2018-03-08 13:54] andrewscaya commented on #30
Hi @m3vip,

Yes, this is normal and it is the module's expected behavior. The form's 'From' field is used to actually send the email. This is shown in your first screenshot, as the email was received from 'web.wifiair@gmail.com'.

Thank you for your interest in the Simple Email Form module.

Best regards,

Andrew

[2018-03-08 13:55] andrewscaya commented on #31
Hi @mjb021,

Which CAPTCHA module are you using?

[2018-03-08 16:14] mjb021 commented on #31
I'm using jForm so the installed default captcha is the (google) recaptcha that's provided in Joomla

[2018-03-08 16:41] andrewscaya commented on #31
OK. Will try to reproduce.

[2018-03-13 02:54] #30 closed

[2018-04-01 02:47] tlbearly opened #32 "JForm form type not sending email"
The classic form works, but when I switch to JForm it does not send an email or redirect. No errors are reported on the javascript console. I am using Joomla 3.8.6, php 7.0.

[2018-04-02 01:49] andrewscaya commented on #32
Hello @tlbearly,

Both the 'Classic' form and the 'JForm' form use the JMail object to send the email. Thus, if one works, the other should work also. Moreover, we test these parts of the module extensively and all our tests pass.

Please make sure that you entered the admin's email in the module's configuration and that you have configured at least one content field in your form.

If this still d

[2018-04-05 12:57] tlbearly commented on #32
No, I have not been able to get it to work.

Where do I enter the admin email?

Also, when the From address is not from the same domain as my website Gmail gives a warning.

I am using the default Joomla Captcha Recaptcha but the version is from 2011. Should I upgrade this somehow? I just upgraded Joomla to the newest version.

[2018-04-05 13:42] AnneRe commented on #32
You can enter the admin e-mail here: Canfiguration/Global/"Tab" Server. Here can you find "Mail Settings".
I'm not sure. But I think the admin mail must match your domain.
Extensions should always be updated when prompted.

This functions with me also everything perfectly.
I have an error message when the contact form is filled and is sent off. Then I am passed on on a new side. One stands on that

[2018-04-06 02:41] tlbearly commented on #32
I set Display Size of Field to something other than 0 and it worked.

[2018-04-06 03:03] tlbearly commented on #32
When there is no From address it displays "Error 0", error code of 0, no error message, and error status of 500 Internal Server Error.

This also happens when there is a From address with the Display Size of Field set to 0.

[2018-04-06 07:24] AnneRe commented on #32
Ah.
I found the mistake.
I did not have "from" in the field type of email.
Such a stupid mistake. SORRY and thank you very very much!!!

[2018-04-06 18:40] andrewscaya commented on #32
@AnneRe Glad to see that everything is working for you now!

@tlbearly Have you tried following what is Joomla's suggested method for installing/configuring/using Google ReCaptcha? Please see here: [https://docs.joomla.org/J3.x:Google_ReCaptcha](https://docs.joomla.org/J3.x:Google_ReCaptcha).

[2018-04-06 20:32] tlbearly commented on #32
It is working now. The problem was I set "Display Size of Field" to zero. Your popup note suggests to do this. Yes, I had set up Google ReCaptcha.

[2018-04-06 20:34] #32 closed

[2018-09-23 08:31] operon opened #33 "Subjet of @mail"
When I receive the @ mail, I do not have a "subject"?

I configured a hidden field "subjet" with "message subject" in default value.

[2018-09-23 09:54] operon opened #34 "Copy to me : error"
I do not receive a copy of the message.
the recipient get the message, the sender receive a message "Custom Message" after validate form

I have validated "Send Me an Email Fiel" activated but no copy of the message arrives at the sender.

[2018-09-26 22:26] andrewscaya commented on #33
Hello @operon,

Please see my reply here : [https://github.com/andrewscaya/mod_simpleemailform/issues/19#issuecomment-293685479](https://github.com/andrewscaya/mod_simpleemailform/issues/19#issuecomment-293685479)

If you have any further questions, please do not hesitate to reply to this message.

Best regards,

Andrew Caya

[2018-09-26 22:28] andrewscaya commented on #34
Hello @operon,

We will try to reproduce your issue over the next few days.

Thank you for your interest in the Simple Email Form module!

Best regards,

Andrew Caya

[2018-09-27 10:35] operon commented on #33
Hello,

I read # 19 but I do not see the connection with my problem

[2018-09-28 21:15] andrewscaya commented on #33
Hi @operon,

For security reasons, the Subject field can no longer be a hidden field, as HTML hidden fields cannot be thoroughly filtered, validated and sanitized, since they can contain just about anything.

Quote from #19:

If you have any further questions, please do not hesitate to send them to us.

Many thanks for your interest in the Simple Email Form module.

Best regards,

Andrew Caya

[2018-09-29 08:05] operon commented on #33
Thanks, it is ok now.

Do not use "hidden"

[2018-09-29 08:05] #33 closed, assigned to andrewscaya

[2018-10-19 21:47] jdowlan opened #35 "Textarea Issue"
Hi there,

I'm having some issues getting a textarea input to work - It is trimming the input down. For example:
"Test message goes in here" gets trimmed to "<p>Test message goes"

Any assistance would be greatly appreciated.

Thanks,

Jacob

![issue](https://user-images.githubusercontent.com/44305797/47245365-ae2f4c00-d444-11e8-9eda-df6cbdfd6466.PNG)

[2018-10-20 12:01] NielBuys opened #36 "Security package block simple email form functionality"
Security package "https://securitycheck.protegetuordenador.com/downloads/securitycheck" block form submit as xss attack.

Setup
Joomla 3.8.13
Php 7.0 on Ubuntu 16.04
Simple email form v2.3.0 mode "JForm". (Upgraded simpleemailform from old v1 Simple email form)
I have 1 from field
3 Normal fields
1 hidden subject field
1 text area.
Captcha is activated.
Type simple words into boxes.
On submit secu

[2018-10-27 18:54] andrewscaya commented on #35
Hi @jdowlan,

The input fields get trimmed to the field size as you have defined them in the Joomla administration panel.

Here is the section of the source code that does this in the JForm version of SEF:
https://github.com/andrewscaya/mod_simpleemailform/blob/bb5e73dd1219e6268ce630f70c2f3a73b687e66d/sefv2/modsimpleemailform.php#L1794

Please let us know if this answers your question.

Many thank

[2018-10-27 19:03] andrewscaya commented on #36
Hi @NielBuys,

From what I gather, the security package that you are using is slightly overzealous and does not authorize rich HTML strings in the textarea input field of your form. You can turn off the TinyMCE version of the form in Joomla's administration panel. It is usually found under 'Extensions -> Plugins -> Editor - TinyMCE '.

Please let us know if this answers your question.

Many thanks

[2018-10-28 16:05] NielBuys commented on #36
@andrewscaya Thanks but I use the TinyMCE on other parts of the website. I would rather switch it off as a setting in the Simple Email form module.
I don't really have any interest to show the TineMCE on my web form, I would rather it show the text area like the classic version.
I just though I bring it to your attention. You can decide if you want to close the issue. From my side I am fine with t

[2018-11-02 01:46] andrewscaya commented on #36
@NielBuys --

Many thanks! Then, I'll keep the issue open for the Simple Email Form 3.0 milestone, as the classic mode will be retired at that time.

Best,

Andrew

[2018-11-02 01:55] andrewscaya commented on #34
@operon --

The module seems to work as expected. The "copy me" field allows the form submitter to receive a copy of the contents of the form that he/she is submitting.

Is your mail server configured to relay emails to other domains?

Could you please give us a little more information on your specific setup?

[2018-11-02 06:46] operon commented on #34
Hello,

I reread the plugin and I think I understood that I was wrong.
  "Send Me an Email Field" works well

There is no function "send a copy of the message to the sender".

It would be nice to have a check box to activate the function.

[2018-11-08 15:01] #35 closed, assigned to andrewscaya

[2018-11-08 15:07] andrewscaya commented on #34
Hello @operon --

We will see if we can add this feature request somewhere in the future development plans of the Simple Email Form module.

Many thanks!

Best,

Andrew

[2018-11-08 15:07] #34 closed, assigned to andrewscaya

[2018-11-09 22:18] chumphrey18 opened #37 "Turn off 'Toggle Editor' on public page"
My form is showing on a 'Contact Us' page.  There is a 'toggle editor' button that displays.  How do I remove that so that visitors to the website cannot see this?

[2018-11-26 18:52] andrewscaya commented on #37
Hi @chumphrey18!

You can turn off the TinyMCE version of the form in Joomla's administration panel. It is usually found under 'Extensions -> Plugins -> Editor - TinyMCE '.

Please let us know if this answers your question.

Many thanks for your interest in the Simple Email Form module!

Best regards,

Andrew

[2018-11-26 20:37] chumphrey18 commented on #37
Thanks so much!!

________________________________
From: Andrew Caya <notifications@github.com>
Sent: Monday, November 26, 2018 12:52 PM
To: andrewscaya/mod_simpleemailform
Cc: chumphrey18; Mention
Subject: Re: [andrewscaya/mod_simpleemailform] Turn off 'Toggle Editor' on public page (#37)

Hi @chumphrey18<https://github.com/chumphrey18>!

You can turn off the TinyMCE version of the form in Joomla

[2018-11-27 17:32] andrewscaya commented on #37
@chumphrey18 You're welcome! :)

[2018-11-27 17:32] #37 closed, assigned to nobody

[2018-11-28 10:43] nicsym opened #38 "With Joomls settings Article->Nocaptcha, Jform option captcha hidden!!"
After setting the Article option on no-captcha (article front-end editting), the form has no j-form captcha anymore (the classic captcha works well in this mode).
When placed this same form in a jevent arti cle, the captcha works well.

[2019-01-10 01:59] andrewscaya commented on #38
@nicsym --

This seems to be expected behavior, as SEF now uses Joomla's integrated captcha module. We will see if there is a workaround for this issue, but if not, you will have to open an issue with the Joomla CMS core team, as they are responsible for maintaining this specific functionality.

We will get back to you as soon as possible.

Many thanks for your interest in the Simple Email Form mo

[2019-02-07 09:22] ruedigerO opened #39 "Sizing of textarea field does not work with JForm"
Sizing of a textarea field does not work with JFom, (size is independent of the settings)
In Classic mode the same settings are working well
(Joomla 3.9.2, PHP 7.2)

[2019-02-07 09:25] ruedigerO opened #40 "Marking subject field as hidden does not work with JForm"
If the subject field is set to hidden (in JForm mode) the resulting email contains no subject

[2019-02-13 20:40] andrewscaya commented on #39
@ruedigerO --

Since version 2.0.0 of SEF, the module is now fully integrated with the Joomla CMS. The JForm mode is very powerful as you now have full control over all elements of the SEF module. To modify the TinyMCE editor's (JForm textarea) appearance, just go to "Extensions -> Plugin Manager -> Editor - TinyMCE -> Advanced settings" in your Joomla website's Administration panel and modify wid

[2019-02-13 20:40] #39 closed, assigned to nobody

[2019-02-13 20:44] andrewscaya commented on #40
@ruedigerO --

For security reasons, the Subject field can no longer be a hidden field, as HTML hidden fields cannot be thoroughly filtered, validated and sanitized, since they can contain just about anything.

Quote from #19:

If you have any further questions, please do not hesitate to send them to us.

Many thanks for your interest in the Simple Email Form module.

Best regards,

Andrew Caya

[2019-02-13 20:44] #40 closed, assigned to nobody

[2019-02-13 20:49] andrewscaya commented on #38
After verification, this is expected behavior. Turning off captcha rendering in Joomla's default captcha module will indeed turn off captcha rendering in SEF.

[2019-02-13 20:49] #38 closed, assigned to andrewscaya

[2019-02-14 07:45] ruedigerO commented on #40
Hi Andrew

thanks for your clarification.
Maybe it would be a good idea to mention this in the documentation

Best regards
Rüdiger

[2019-02-15 02:17] andrewscaya commented on #40
Hi @ruediger,

Yes, we will add a note in the next release's documentation.

Many thanks!

[2019-02-18 09:28] amaurice79 opened #41 "Attachment files error."
Hello, thank you for this great module ! I just have one problem. To attach a file it takes only PDF event when i put doc, docx, pdf in the accepted type file, it says Warning this type of file is not allowed, can you help me please ? Thank you.

[2019-02-18 19:14] andrewscaya commented on #41
Hi @amaurice79 --

We will have a look into it.

Will get back to you ASAP.

Thanks!

Best regards,

Andrew

[2019-02-21 15:42] amaurice79 commented on #41
Thanks a lot, waiting for your help :)

[2020-12-30 13:27] ggirol opened #43 "Trouble with adding fields and JForm"
Hello,

Is increasing the number of fields still supported?

I tried upping to 12 in sefv2/modsimpleemailform.php like so:

protected $maxFields = 12;

And made the required changes/additions to mod_simpleemailform.xml (see attached). All 12 potential fields appear in the Module interface, however on the public form page, no form field appear AT ALL if I choose JForm. If I choose Classic the form

[2021-01-04 19:24] gesernet commented on #41
Dear Andrew, very thank you for your module.
I just have a problem to attach a file with Form Type JForm but not with the same configuration in Classic mode.
Could you help me please?
Thank you.

[2021-01-11 21:03] andrewscaya commented on #43
Hello @ggirol,

Many thanks for sharing.

When using JForm, you have to set the number of fields in the Admin panel. The maximum number of fields is 8, as it is mentioned in the list of our features (https://extensions.joomla.org/extension/simple-email-form/).

Also, if you are using the captcha option, you must make sure to tie in your SEF instance with the Google reCAPTCHA module in order to mak

[2021-01-11 21:08] andrewscaya commented on #41
Hello @gesernet,

Everything is working as expected from what we can see. Please make sure that you authorize the file extensions in the Admin panel of your SEF installation, as mentioned in our documentation here: https://simple-email-form.readthedocs.io/en/stable/advanced_options.html#allowed-attachment-filenames.

If you have more questions, please let us know.

/cc @amaurice79

[2021-01-12 00:27] ggirol commented on #43
Hi Andrew,

I don't quite understand your answer. I have an older version of SEF successfully using 16 fields at a different site. The current version says in sefv2/modsimpleemailform.php:

/**
     * Contains an integer of the maximum number of configurable fields.
     *
     * @var int
     * @since 2.0.0
     *
     * NOTE to developers: just increase this number for more fields
     * BUT you

[2021-01-12 15:23] andrewscaya commented on #43
Hi @ggirol,

This is a transition version of SEF, and some legacy code from the previous version is still around to allow for an easy transition to the new JForm version. I will have to check if JForm can allow for easy modification of the maximum number of fields. If so, we could add your issue as a feature request for the upcoming release of the JForm only version. I'll get back to you as soon a